@import url("https://fonts.cdnfonts.com/css/arial-2");
@import "tailwindcss";

body {
  background-image: url("Rectangle.png");
  background-size: cover;
}

h2,
p,
b,
a,
option {
  font-family: "Arial", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  text-wrap: pretty;
  text-align: justify;
}

.card-container {
  height: 300px;
  overflow: hidden;
}

.course-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

